// Place all the styles related to the url controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Helvetica';
  font-size: 14px;
}
.wrapper {
  width: 60%;
  margin: auto;
}
.button{
  margin-top: 10px;
}
.short-url{
  margin-top: 20px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}