// Place all the styles related to the url controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Helvetica';
  font-size: 16px;
  color: #556361;
}
input[type=submit]{
  color: #556361;
  font-size: 16px;
}
.wrapper {
  width: 60%;
  margin: auto;
}
.button{
  margin-top: 10px;
  padding: 10px;
}
.short-url{
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.short-url a{
  color: #42ab9e;
}
#url{
  border-radius: 5px;
  font-size: 16px;
}