.wrapper
  %header
    %p Enter a url to shorten
  %form{ action: '/', method: 'post'}
    %label{for: 'url'} url:
    %input{type: 'text', name: 'url'}
    %input{type: 'submit', value: 'submit'}
  %p   
